*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Conteiner{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-40%, -5%);
  }

  
@media (max-width:800px) {
    .saidbar{
        display: none;
    }
}