// Reset CSS styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // Container styles
  .Container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  // Header styles
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 100;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    height: 120px;  
  }
  
  // Body styles
  body {
    padding-top: 180px; // Adjust for header height
  }
  
  // Navbar styles
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  
    // Logo styles
    .navlogo {
      img {
        width: 250px;
        background: none;
        margin-top: -30px;
      }
    }
  
    // Navigation items styles
    .nav__items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 60px;
      padding-top: -40px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 26px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    }
  
    // Buttons styles
    .Nav__btns {
      display: flex;
      align-items: center;
      gap: 30px;
  
      #login {
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 15px;
        background: #000;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  

  .menu {
    display: none;
    border: 0;
    font-size: 40px;
    background: 0;
    cursor: pointer;
    text-align: left;
    padding-top: 15px;
     svg{
        font-size: 40px; 
     }
  
    @media (max-width: 1200px) {
      display: block;
    }
  }
  
  @media (max-width: 1200px) {
    .nav__items {
      position: absolute;
      top: 145px; 
      left: 0;
      width: 100%;
      padding: 20px 0;
      background: #fff;
      box-shadow: 0 3px 5px #0002;
      flex-direction: column;
      gap: 0px;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease;
      line-height: 2;
      z-index: 10;
      transform-origin: top;
      transform: scaleY(0);
    }
  

    .nav__items.show {
      transform: scaleY(1);
    }
  }
  